.idea/
config/
venv/
src/vigilant/__pycache__/
__pycache__
*.pyc
dist
*.egg-info
site/
.coverage
.ipynb_checkpoints/
coverage.xml
docs/dev/graphs/*.pdf
docs/dev/graphs/*.svg
gains.pdf
gains.png
htmlcov/
