.idea/
config/
venv/
src/vigilant/__pycache__/
__pycache__
*.pyc
dist
*.egg-info
site/
.ipynb_checkpoints/
gains.pdf
gains.png
.coverage
htmlcov/
docs/dev/graphs/architecture.pdf
docs/dev/graphs/old_architecture.pdf
docs/dev/graphs/old_architecture.svg
